In [22]:
import pandas as pd
import json

# Function to load JSON objects from a file
def load_json_objects(file_path):
    data = []
    with open(file_path, 'r') as file:
        for line in file:
            data.append(json.loads(line))
    return pd.DataFrame(data)

# Load the JSON files into pandas dataframes
receipts_df = load_json_objects('./receipts.json')
users_df = load_json_objects('./users.json')
brands_df = load_json_objects('./brands.json')


display(receipts_df)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614594147000},{'$date': 1614594147000},NaN,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [23]:
receipts_df['rewardsReceiptItemList'][5]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '3.25',
  'itemPrice': '3.25',
  'needsFetchReview': False,
  'originalMetaBriteBarcode': '028400642255',
  'originalMetaBriteDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ',
  'partnerItemId': '1',
  'pointsNotAwardedReason': 'Action not allowed for user and CPG',
  'pointsPayerId': '5332f5fbe4b03c9a25efd0ba',
  'preventTargetGapPoints': True,
  'quantityPurchased': 1,
  'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE',
  'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba',
  'userFlaggedBarcode': '4011'}]

In [24]:
receipts_df['rewardsReceiptItemList'][30]

[{'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '1',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '2',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '3',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '4',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '5',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '6',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '7',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '8',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '9',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'},
 {'barcode': '087684001127',
  'description': "CAPRI SUN Roarin' Waters Tropical Fruit Juice Drinks 10 ct",
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '10',
  'pointsEarned': '5.0',
  'pointsPayerId': '559c2234e4b06aca36af13c6',
  'quantityPurchased': 1,
  'rewardsGroup': "CAPRI SUN ROARIN' WATERS BEVERAGE DRINK",
  'rewardsProductPartnerId': '559c2234e4b06aca36af13c6',
  'targetPrice': '800'}]

In [25]:
receipts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    object
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    object
 14  userId                   1119 non-null   object
dtypes: float64(2), object(13)
memory usage: 131.3+ KB

In [26]:
# Extracting and flattening rewardsReceiptItemList into a new DataFrame
receipt_items = []
for index, row in receipts_df.iterrows():
    receipt_id = row['_id']
    items = row['rewardsReceiptItemList']

    # Check if items is a list (handling NaN or missing values)
    if isinstance(items, list):
        for item in items:
            item['_id'] = receipt_id  # Adding receipt_id to each item
            receipt_items.append(item)
    else:
        pass

receipt_items_df = pd.DataFrame(receipt_items)

display(receipt_items_df.head())

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
receipt_items_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6941 entries, 0 to 6940
Data columns (total 35 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   barcode                             3090 non-null   object
 1   description                         6560 non-null   object
 2   finalPrice                          6767 non-null   object
 3   itemPrice                           6767 non-null   object
 4   needsFetchReview                    813 non-null    object
 5   partnerItemId                       6941 non-null   object
 6   preventTargetGapPoints              358 non-null    object
 7   quantityPurchased                   6767 non-null   float64
 8   userFlaggedBarcode                  337 non-null    object
 9   userFlaggedNewItem                  323 non-null    object
 10  userFlaggedPrice                    299 non-null    object
 11  userFlaggedQuantity                 299 non-null    float64
 12  _id                                 6941 non-null   object
 13  needsFetchReviewReason              219 non-null    object
 14  pointsNotAwardedReason              340 non-null    object
 15  pointsPayerId                       1267 non-null   object
 16  rewardsGroup                        1731 non-null   object
 17  rewardsProductPartnerId             2269 non-null   object
 18  userFlaggedDescription              205 non-null    object
 19  originalMetaBriteBarcode            71 non-null     object
 20  originalMetaBriteDescription        10 non-null     object
 21  brandCode                           2600 non-null   object
 22  competitorRewardsGroup              275 non-null    object
 23  discountedItemPrice                 5769 non-null   object
 24  originalReceiptItemText             5760 non-null   object
 25  itemNumber                          153 non-null    object
 26  originalMetaBriteQuantityPurchased  15 non-null     float64
 27  pointsEarned                        927 non-null    object
 28  targetPrice                         378 non-null    object
 29  competitiveProduct                  645 non-null    object
 30  originalFinalPrice                  9 non-null      object
 31  originalMetaBriteItemPrice          9 non-null      object
 32  deleted                             9 non-null      object
 33  priceAfterCoupon                    956 non-null    object
 34  metabriteCampaignId                 863 non-null    object
dtypes: float64(3), object(32)
memory usage: 1.9+ MB

In [28]:
receipt_items_df[receipt_items_df['finalPrice'] != receipt_items_df['itemPrice'] ]

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,True,2,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,True,3,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,True,4,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,True,5,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6768,NaN,NaN,NaN,NaN,True,10,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6769,NaN,NaN,NaN,NaN,True,11,True,NaN,034100573065,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6779,1234,NaN,NaN,NaN,True,2,True,NaN,1234,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6816,1234,NaN,NaN,NaN,True,2,True,NaN,1234,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6845,1234,NaN,NaN,NaN,True,2,True,NaN,1234,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
receipt_items_df.columns

Index(['barcode', 'description', 'finalPrice', 'itemPrice', 'needsFetchReview',
       'partnerItemId', 'preventTargetGapPoints', 'quantityPurchased',
       'userFlaggedBarcode', 'userFlaggedNewItem', 'userFlaggedPrice',
       'userFlaggedQuantity', '_id', 'needsFetchReviewReason',
       'pointsNotAwardedReason', 'pointsPayerId', 'rewardsGroup',
       'rewardsProductPartnerId', 'userFlaggedDescription',
       'originalMetaBriteBarcode', 'originalMetaBriteDescription', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber',
       'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice',
       'competitiveProduct', 'originalFinalPrice',
       'originalMetaBriteItemPrice', 'deleted', 'priceAfterCoupon',
       'metabriteCampaignId'],
      dtype='object')

In [30]:
from datetime import datetime

users_df

# Parse the '_id' field to extract the string value if it is a dictionary
users_df['_id'] = users_df['_id'].apply(lambda x: x['$oid'] if isinstance(x, dict) else x)

# Parse the 'lastLogin' field to convert the timestamp to a datetime object if it is a dictionary
users_df['lastLogin'] = users_df['lastLogin'].apply(lambda x: datetime.fromtimestamp(x['$date'] / 1000) if isinstance(x, dict) else x)

# Parse the 'createdDate' field to convert the timestamp to a datetime object if it is a dictionary
users_df['createdDate'] = users_df['createdDate'].apply(lambda x: datetime.fromtimestamp(x['$date'] / 1000) if isinstance(x, dict) else x)

In [31]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    datetime64[ns]
 3   lastLogin     433 non-null    datetime64[ns]
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), datetime64[ns](2), object(4)
memory usage: 23.8+ KB

In [32]:
brands_df['cpg'][2]

{'$id': {'$oid': '601ac142be37ce2ead437559'}, '$ref': 'Cogs'}

In [33]:
brands_df['category'].unique()

array(['Baking', 'Beverages', 'Candy & Sweets', 'Condiments & Sauces',
       'Canned Goods & Soups', nan, 'Magazines', 'Breakfast & Cereal',
       'Beer Wine Spirits', 'Health & Wellness', 'Beauty', 'Baby',
       'Frozen', 'Grocery', 'Snacks', 'Household', 'Personal Care',
       'Dairy', 'Cleaning & Home Improvement', 'Deli',
       'Beauty & Personal Care', 'Bread & Bakery', 'Outdoor',
       'Dairy & Refrigerated'], dtype=object)

In [34]:
brands_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   object
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    object
 7   brandCode     933 non-null    object
dtypes: object(8)
memory usage: 73.1+ KB

In [35]:
# Parse the '_id' field to extract the string value if it is a dictionary
brands_df['_id'] = brands_df['_id'].apply(lambda x: x['$oid'] if isinstance(x, dict) else x)

# Export the updated DataFrame to a CSV file
brands_df.to_csv('formatted_brands.csv', index=False)

In [36]:
print(users_df.columns)

Index(['_id', 'active', 'createdDate', 'lastLogin', 'role', 'signUpSource',
       'state'],
      dtype='object')

In [37]:
print(receipts_df.columns)

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptItemList', 'rewardsReceiptStatus', 'totalSpent',
       'userId'],
      dtype='object')

In [38]:
print(brands_df.columns)

Index(['_id', 'barcode', 'category', 'categoryCode', 'cpg', 'name', 'topBrand',
       'brandCode'],
      dtype='object')